@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
:root {
  --font-Mont: "Montserrat", sans-serif;
  --color-white: white;
  --bg-button: linear-gradient(180deg, #faba17 0%, #eaae15 100%);
  --size-14: 14px;
  --size-16: 16px;
  --size-22: 22px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
body {
  font-size: var(--size-16);
  background: #f0f0f0;
}
.row {
  margin: 0;
}
/* menu hamburguesa */
#menu-btn {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease-out;
}
#menu-btn:hover {
  cursor: pointer;
}
#menu-btn:hover .menu-line {
  background-color: #e00d34;
}

#menu-btn:active {
  background-color: #e00d34;
}
.menu-btn-line {
  height: 0.5em;
  background-color: #e00d34;
  margin-bottom: 0.5em;
}
.menu-btn-line:last-child {
  margin-bottom: 0;
}

#menu {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 20px;
  background-color: #e00d34;
  z-index: 20;
  text-align: center;
}
#menu ul {
  padding: 0;
  margin: 0;
}
#menu ul li a {
  font-weight: 400;
}
#menu ul li {
  list-style-type: none;
  left: 0;
  padding: 0.5em;
  color: white;
  transition: all 0.3s ease-out;
}
.menu-iconos-hambur {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#menu ul li a:hover {
  color: white;
  text-decoration: underline;
}
/* animacion */
@keyframes escala {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100;
  }
}
/* Header y Navbar */
header {
  width: 100%;
  height: 89px;
  background-image: linear-gradient(180deg, #e00d34 0%, #e00d34 100%);
}

header nav .nav-menu {
  height: 89px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

header nav .nav-menu-logo {
  display: flex;
  justify-content: center;
}
header nav .nav-menu-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 89px;
}
.nav-menu-center a {
  font-weight: 400;
}
.nav-menu-center a:hover {
  color: white;
  border-bottom: 2px solid white;
}

header nav .nav-menu-social {
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 0 10px;
}
.nav-menu-social-icon {
  padding: 4px;
}
.linea-section img {
  padding: 0;
  margin: 0;
}
.linea-img2 {
  display: none;
}
#carouselExampleIndicators {
  display: none;
}
.banner2 {
  display: none;
}

@media (max-width: 426px) {
  .linea-section .linea-img {
    display: none;
  }
  #carouselExampleIndicators {
    display: block;
  }
  .banner1 {
    display: none;
  }
  .banner2 {
    display: inherit;
  }
}
.nav-menu-hambur {
  position: absolute;
  top: 10px;
  left: 0;
}
.nav-menu-hambur button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 60px;
}
.nav-menu-hambur button span {
  border-radius: 5px;
  background: white;
  display: block;
  width: 60%;
  margin: 5px auto;
  height: 3px;
}

@media (max-width: 1300px) {
  header nav .nav-menu-center li {
    font-size: 13px;
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  header nav .nav-menu-center,
  header nav .nav-menu-social {
    display: none;
  }

  header nav .nav-menu {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  header nav .nav-menu-hambur {
    display: none;
  }
}

/* section Verifica  */
.verifica-section-container {
  background: white;
  margin: 0;
  height: 394px;
  width: 100%;
  background-image: url(../assets/fondoblanco.png);
  background-repeat: no-repeat;
  background-position: right;
}

.verifica-section-foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.verifica-section-foto img {
  height: 95%;
}

.verifica-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.verifica-title {
  font-size: 42px;
  font-family: var(--font-Mont);
  margin: 0;
  color: #4a4a4a;
  margin-left: 10px;
  font-weight: bold;
}
.verifica-subtitle {
  font-family: var(--font-Mont);
  font-size: 42px;
  margin: 0;
  color: #ffffff;
  background: #e00d34;
  width: 294px;
  text-align: center;
  font-weight: bold;
}
.verifica-description {
  margin: 0;
  color: #37424a;
  font-size: 18px;
  margin-top: 18px;
  font-weight: 400;
}
.verifica-section-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.verifica-section-button button {
  background-image: var(--bg-button);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  width: 280px;
  height: 70px;
  margin-top: 92px;
}
@media (max-width: 991px) {
  .verifica-section-foto {
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 270px;
  }
  .verifica-section-text {
    width: 450px;
  }
  .verifica-section-button button {
    margin-top: -100px;
    margin-left: 70px;
  }
}
@media (max-width: 720px) {
  .verifica-section-foto {
    justify-content: flex-start;
    flex-direction: row;
    width: 171px;
    padding: 0;
    height: 270px;
  }
  .verifica-section-foto img {
    width: 171px;
    height: 250px;
  }
  .verifica-section-container {
    height: 326px;
    background-image: none;
  }
  .verifica-section-text {
    width: 170px;
  }
  .verifica-title {
    font-size: var(--size-22);
    width: 158px;
  }
  .verifica-subtitle {
    font-size: var(--size-22);
    width: 158px;
  }
  .verifica-description {
    font-size: var(--size-14);
    margin-top: 15px;
    line-height: 18px;
  }
  .verifica-section-button button {
    font-size: 18px;
    width: 337px;
    height: 60px;
    margin-top: -30px;
    margin-bottom: 17px;
    margin-left: 0;
  }
}

/* container asesoramiento */
.asesoramiento-section-container {
  height: 1191px;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(180deg, #e00d34 0%, #70071a 100%);
}
.asesoramiento-section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.asesoramiento-section-top img {
  width: 85.95px;
  margin: 0;
  margin-top: 62px;
  padding: 0;
}
.section-top-title {
  font-family: var(--font-Mont);
  font-size: 42px;
  width: 402px;
  margin: 0;
  margin-top: 9px;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.section-top-subtitle {
  font-family: var(--font-Mont);
  font-size: 42px;
  margin: 0;
  padding: 0;
  width: 402px;
  color: #ffffff;
  background-color: #4a4a4a;
  text-align: center;
  font-weight: bold;
}
.section-top-description {
  width: 971px;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 17px;
  padding: 0;
}

.section-steps {
  display: grid;
  padding: 0 80px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: 50px 150px;
  margin-bottom: 10px;
}
.asesoramiento-section-steps {
  width: 100%;
  margin: 0;
  padding: 0;
}
.asesoramiento-barra_horizontal {
  background: #faba17;
  width: 44px;
  height: 2px;
  align-self: center;
  margin-bottom: 8px;
  margin-left: 10px;
}
.section-steps h3 {
  color: #faba17;
  font-family: var(--font-Mont);
  font-size: var(--size-16);
}
.section-steps .img {
  margin: 0 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
}
.container-title-linea {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-self: end;
  margin-bottom: 10px;
}
.section-steps .p {
  color: white;
  width: 200px;
  font-size: var(--size-16);
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
}
.asesoramiento-barra {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background: white;
  width: 2px;
  height: 100px;
  align-self: center;
  justify-self: center;
}

.section-steps .img1 {
  margin: 0 20px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
}
.container-title-linea1 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-self: end;
  margin-bottom: 10px;
}
.section-steps .p1 {
  color: white;
  width: 200px;
  font-size: var(--size-16);
  font-weight: 400;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
}
.asesoramiento-barra1 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  background: white;
  width: 2px;
  height: 100px;
  align-self: center;
  justify-self: center;
}

.section-steps .img2 {
  margin: 0 20px;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
}
.container-title-linea2 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-self: end;
  margin-bottom: 10px;
}
.section-steps .p2 {
  color: white;
  width: 240px;
  font-size: var(--size-16);
  font-weight: 400;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
}

section div .section-steps-description {
  width: 260px;
  font-size: var(--size-16);
  font-weight: 400;
}

.asesoramiento-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  margin-top: 30px;
}
.asesoramiento-section-image img {
  width: auto;
  height: auto;
}
@media (max-width: 1024px) {
  .section-steps {
    padding: 0 0;
  }
}
@media (max-width: 992px) {
  .section-top-title {
    font-size: var(--size-22);
    width: 210px;
  }
  .section-top-subtitle {
    font-size: var(--size-22);
    width: 210px;
  }
  .section-top-description {
    width: 337px;
    font-size: var(--size-14);
    font-weight: 400;
  }
  .asesoramiento-section-top img {
    width: 36px;
    margin-top: 33px;
  }
  .asesoramiento-section-image {
    margin: 0;
    padding: 0;
  }
  .asesoramiento-section-image img {
    margin: 0;
    padding: 0;
  }
  .asesoramiento-barra,
  .asesoramiento-barra1 {
    display: none;
  }
  .section-steps {
    padding: 0 100px;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .section-steps .img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
  }
  .container-title-linea {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-self: center;
    justify-self: start;
  }
  .section-steps .p {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    justify-self: start;
  }
  .section-steps .img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: start;
  }
  .container-title-linea1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-self: center;
  }
  .section-steps .p1 {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    align-self: center;
  }
  .section-steps .img2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: start;
  }
  .container-title-linea2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    display: flex;
    align-self: center;
  }
  .section-steps .p2 {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    align-self: center;
  }
}
@media (max-width: 426px) {
  .section-steps {
    padding: 0 20px;
  }
}

/* sección venir a la universidad */
.venir-section {
  margin: 0;
  padding: 0;
  height: 290px;
  background-image: url(../assets/veniruandes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  display: flex;
  align-items: center;
}
.venir-section-text {
  display: inherit;
  flex-direction: column;
  padding-left: 100px;
}
.venir-section-text h2 {
  font-family: var(--font-Mont);
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}
.venir-section-text h1 {
  font-family: var(--font-Mont);
  font-size: 36px;
  font-weight: bold;
}
.venir-section-description .p {
  font-size: 18px;
  font-weight: 300;
  padding-right: 190px;
}
.venir-section-description p {
  font-size: 18px;
  font-weight: 300;
}
.venir-section-description button {
  color: #faba17;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .venir-section-text {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .venir-section-text h2 {
    font-size: var(--size-22);
    padding-top: 36px;
    line-height: 24px;
  }
  .venir-section-text h1 {
    font-size: var(--size-22);
    line-height: 24px;
  }
  .venir-section {
    display: block;
    height: 304px;
  }
  .venir-section-description {
    width: 100%;
    padding: 0 19px;
  }
  .venir-section-description p {
    font-size: var(--size-14);
    margin-top: 15px;
    line-height: 16px;
    padding-right: 0;
  }
  .venir-section-description button {
    font-size: var(--size-14);
  }
}

/* modal */
.modal {
  color: black;
}
.modal.show .modal-dialog {
  display: flex;
  justify-content: center;
  width: 1340px;
  height: 474px;
}
.modal.show .modal-dialog .modal-content {
  width: 1340px;
  height: 720px;
}
.modal-header-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 30px 20px;
}
.modal-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  font-family: var(--font-Mont);
  font-size: 26px;
  font-weight: bold;
}
.modal-subtitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
  font-family: var(--font-Mont);
  font-size: var(--size-16);
  font-weight: 500;
  margin: 0;
}
.modal-header-grid button {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: end;
}
.modal-container-interno {
  display: grid;
  grid-template-columns: 215px 200px 200px;
  grid-template-rows: 0.6fr 0.4fr auto auto;
}
.modal-container-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  background: #f2b199;
  margin: 0;
  padding-top: 5px;
  font-family: var(--font-Mont);
  font-size: 26px;
  font-weight: bold;
}
.modal-container-subtitle {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  background: #f2b199;
  height: auto;
  margin: 0;
  font-family: var(--font-Mont);
  font-size: var(--size-16);
  font-weight: 500;
  margin: 0;
  padding-bottom: 5px;
}
.modal-container-title_bottom {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: var(--font-Mont);
  font-size: var(--size-16);
  font-weight: bold;
  margin: 0;
  padding: 18px 10px;
  color: #37424a;
  background: #fbeae4;
}
.modal-container-title_bottom1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: var(--font-Mont);
  font-size: var(--size-16);
  font-weight: bold;
  margin: 0;
  padding: 18px 10px;
  color: #37424a;
  background: #fbeae4;
}
.modal-container-title_bottom2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: var(--font-Mont);
  font-size: var(--size-16);
  font-weight: bold;
  margin: 0;
  padding: 18px 10px;
  color: #37424a;
  background: #fbeae4;
}
.modal-container-items {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-top: 10px;
  padding-bottom: 20px;
}
.modal-container-items1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-top: 10px;
}
.modal-container-items2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-top: 10px;
}
.modal-container-items p,
.modal-container-items1 p,
.modal-container-items2 p {
  font-family: var(--font-Mont);
  font-size: var(--size-14);
  font-weight: 400;
  margin: 0;

  color: #37424a;
}

/* seccion informacion  */
.section-informacion-container_main {
  padding: 0;
  padding-top: 90px;
  width: 100%;
}
.section-opciones-container_main {
  padding: 0;
  /* padding-top: 90px; */
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.section-informacion-container {
  padding: 0;
  padding-top: 90px;
  width: 100%;
}
.section-informacion-container h1 {
  text-align: center;
  font-family: var(--font-Mont);
  font-size: 42px;
  font-weight: bold;
  color: #4a4a4a;
  margin: 0 auto;
  width: 326px;
}
.section-informacion-container h2 {
  text-align: center;
  font-family: var(--font-Mont);
  font-size: 42px;
  font-weight: bold;
  color: white;
  background: #e00d34;
  width: 326px;
  margin: 0 auto;
}
.section-opciones-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section-informacion-opciones {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  padding-top: 55px;
  padding-bottom: 14px;
}
.section-informacion-opciones a {
  font-family: var(--font-Mont);
  font-size: var(--size-14);
  font-weight: 400;
  color: #37424a;
}
.form-select {
  display: none;
}
.select {
  width: 100%;
  margin: 0;
}
@media (max-width: 1224px) {
  .section-opciones-container_main {
    display: none;
  }
  .section-opciones-container {
    margin: 0;
  }
  .table-section-container {
    padding: 0;
    align-items: center;
  }

  .section-informacion-container h1,
  .section-informacion-container h2 {
    font-size: var(--size-22);
    width: 170px;
  }
  .section-informacion-container {
    padding-top: 49px;
  }

  .form-select {
    display: block;
    width: 360px;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 11px;
  }
}

.table-section-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: bold;
}

.table-section-table_container {
  display: flex;
  justify-content: center;
  background: white;
  padding-bottom: 20px;
  /* width: auto; */
}
.table-section-columna {
  display: grid;
  grid-template-columns: 150px 264px;
  grid-template-rows: 46px 40px 140px 53px;
  background: white;
  padding-top: 30px;
  width: 414px;
}

.section-columna-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding-top: 15px;
  margin: 0;
  font-family: var(--font-Mont);
  color: white;
  background-color: #e03f02;
  border: 1px solid #f0f0f0;
}
.section-columna-title_left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  color: #e03f02;
  padding: 7px;
  border: 1px solid #f0f0f0;
}
.section-columna-description_right {
  color: #4a4a4a;
  font-weight: 400;
  padding: 7px;
  border: 1px solid #f0f0f0;
  margin: 0;
  background: #f8f8f8;
}
.section-columna-title_left1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0;
  color: #e03f02;
  padding: 9px;
  border: 1px solid #f0f0f0;
}
.section-columna-title_left2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 0;
  color: #e03f02;
  padding: 6px 13px;
  border: 1px solid #f0f0f0;
}
@media (max-width: 1200px) {
  .table-section-container {
    flex-direction: column;
    align-items: center;
  }
  .table-section-table_container {
    width: auto;
  }
  .section-columna-description_right {
    font-size: 11px;
  }
  #hide {
    display: none;
  }
}
@media (max-width: 400px) {
  .table-section-columna {
    display: grid;
    grid-template-columns: 130px 240px;
    grid-template-rows: 46px 40px 140px 53px;
    width: 370px;
  }
}

/* sección preguntas frecuentes */
.container-acordeon {
  padding: 0 104px;
}
.container-preguntas {
  display: flex;
  flex-direction: row;
  margin-top: 148px;
  padding-left: 104px;
  margin-bottom: 35px;
}
.preguntas-title {
  font-weight: bold;
  font-family: var(--font-Mont);
  font-size: 36px;
  color: #37424a;
}
.preguntas-title_background {
  background: #e00d34;
  color: white;
  font-weight: bold;
  font-family: var(--font-Mont);
  font-size: 36px;
  padding: 0 12px;
}
@media (max-width: 768px) {
  .container-preguntas {
    display: block;
    margin-top: 45px;
    text-align: center;
    padding: 0;
  }
  .preguntas-title {
    font-size: var(--size-22);
    margin: 0;
  }
  .preguntas-title_background {
    font-size: var(--size-22);
    padding: 0 0;
    width: 179px;
    margin: 0 auto;
  }
}

.accordion-item {
  width: 90%;
}
.accordion-button {
  font-family: var(--font-Mont);
  color: #37424a;
  font-size: 18px;
  font-weight: 400;
}
.accordion-button:focus {
  border-color: #e00d34;
  box-shadow: 0 0 0 0.1rem rgb(224 13 52 / 100%);
  background: transparent;
  color: #e00d34;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  color: #e00d34;
  font-weight: bold;
}
@media (max-width: 768px) {
  .accordion-item {
    width: 100%;
  }
}
@media (max-width: 426px) {
  .container-acordeon {
    padding: 0;
    margin-bottom: 48px;
  }
  .accordion-item {
    width: 90%;
  }
}

.section-right-container {
  background: white;
  height: 366px;
  padding-left: 40px;
}
.section-right-container h4 {
  font-family: var(--font-Mont);
  font-weight: bold;
  font-size: 18px;
  color: #e00d34;
  margin: 0;
  padding-top: 51px;
}
.section-right-container h5 {
  font-family: var(--font-Mont);
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  color: #4a4a4a;
  padding-top: 17px;
}
.section-right-iconos {
  display: flex;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;
}
.section-right-iconos h3 {
  font-size: var(--size-16);
  margin: 0;
  padding: 0;
  color: #e00d34;
  text-decoration: underline;
}
.section-right-iconos p {
  font-size: var(--size-16);
  margin: 0;
  padding: 0;
  color: #4a4a4a;
}

.section-right-iconos img {
  width: 22px;
  margin-right: 16px;
}

/* seccion mas informacion */
.masinformacion-section-container {
  background-image: url(../assets/fondoinfo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 439px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 107px;
}
.masinformacion-section-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.masinformacion-section-info img {
  margin-top: 58px;
}
.masinformacion-section-info h1 {
  font-family: var(--font-Mont);
  color: white;
  font-size: 42px;
  font-weight: bold;
  margin: 0;
}
.masinformacion-info {
  font-family: var(--font-Mont);
  color: white;
  font-size: 42px;
  font-weight: bold;
  background: #37424a;
  margin: 0;
}
.masinformacion-section-info button {
  border: none;
  margin-top: 38px;
  font-size: 20px;
  width: 397px;
  height: 81px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  background-image: var(--bg-button);
}
@media (max-width: 768px) {
  .masinformacion-section-container {
    height: 262px;
    margin: 0;
  }
  .masinformacion-section-info img {
    width: 45px;
    margin-top: 31px;
  }
  .masinformacion-section-info h1 {
    font-size: var(--size-22);
    margin-top: 12px;
    margin: 0;
  }
  .masinformacion-info {
    font-size: var(--size-22);
  }
  .masinformacion-section-info button {
    margin-top: 21px;
    font-size: 18px;
    width: 337px;
    height: 60px;
  }
}

/* footer */
footer {
  background: #37424a;
  border-top: 10px solid #2b343b;
  width: 100%;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: #a7adb7;
  margin: 0;
}
.footer-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 50px;
  margin: 0;
}
.footer-icons img {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.footer-icontext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.footer-icontext img {
  width: 21.29px;
  margin: 10px;
}
.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 227px;
}
@media (max-width: 1200px) {
  footer {
    height: 493px;
    display: block;
  }
  .footer-img {
    margin-top: 31px;
    padding: 0;
  }
  .footer-logo {
    width: 190px;
  }
  .footer-icontext {
    display: block;
    text-align: center;
    padding: 0;
    font-size: var(--size-14);
    /* width: 246px; */
    margin: 0 auto;
  }
  .footer-icontext img {
    margin-top: 21px;
    margin-bottom: 6px;
  }
  .footer-container {
    margin: 0;
  }
  .footer-icons {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .footer-icons img {
    margin: 0;
    padding: 0 7px;
    padding-top: 30px;
  }
}
